* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  font-size: 1rem;
}

body {
  height: 100dvh;
}

body button {
  cursor: pointer;
}

#svg-logo {
  display: inline;
  width: 2rem;
  height: 2rem;
}

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}

#content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas:
    'header header'
    'sidebar main';
  height: 100%;
}

header {
  display: flex;
  grid-area: header;
  background-color: #8a45c3;
  color: white;
  padding: 2rem;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start;
}

.main-project-container {
  display: flex;
  gap: 0.7rem;
}

.svg-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#home,
.project-title {
  cursor: pointer;
  position: relative;
}

.project-title::before,
#home::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  bottom: 0;
  border-radius: 50%;
  background-color: black;
  scale: 0 1;
  transition: scale 200ms;
}

.project-title:hover::before,
#home:hover::before {
  scale: 1 1;
  transition: scale 200ms;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  background-color: #e9e9e9;
  padding: 2rem;
  font-size: 1.5rem;
}

.project-item {
  display: flex;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
}

.project-item > div:nth-child(2) {
  display: flex;
  gap: 6px;
  margin-left: auto;
}

#add-button {
  position: sticky;
  bottom: 2rem;
  border: none;
  margin-top: auto;
  align-self: flex-start;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 3rem;
  background-color: #8a45c3;
  color: #e9e9e9;
  transition: rotate 333ms;
}

#add-button:hover {
  rotate: 90deg;
  transition: rotate 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.main-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ffffff;
  padding: 2rem;
}

#new-todo {
  position: sticky;
  top: 1rem;
  background-color: #8a45c3;
  color: #ffffff;
  border-radius: 20px;
  width: 250px;
  height: 33px;
  align-self: center;
  z-index: 10;
  transition:
    box-shadow 300ms,
    translate 200ms;
}

#new-todo:hover {
  translate: 0 -3px;
  box-shadow: 4px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition:
    box-shadow 300ms,
    translate 200ms;
}

.todo-item {
  position: relative;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #e9e9e9;
  color: #000000;
  border-radius: 10px;
}

.todo-item button,
.project-item button {
  border-radius: 20px;
  width: 4rem;
  padding: 5px;
}

.todo-item button,
.project-item button {
  background-color: #d9d9d9;
  transition: background-color 200ms;
}

.todo-item button:hover,
.project-item button:hover {
  background-color: #ffffff;
  transition: background-color 200ms;
}

.todo-item button:nth-child(4):hover,
.project-item button:nth-child(2):hover {
  background-color: #d90000;
  color: #e9e9e9;
}

.todo-item div p {
  position: relative;
}

.strikethrough::before {
  position: absolute;
  bottom: 40%;
  content: '';
  left: -5%;
  width: 110%;
  height: 2px;
  background-color: #000000;
}

.task-priority-low {
  border-left: 12px solid transparent;
  transition: border 150ms;
}

.task-priority-medium {
  border-left: 12px solid #f2d73b;
  transition: border 150ms;
}

.task-priority-high {
  border-left: 12px solid #d90000;
  transition: border 150ms;
}

.task-priority-null {
  border-left: 12px solid #ffffff;
  transition: border 150ms;
}

.todo-item > div {
  display: flex;
  gap: 1rem;
}

dialog {
  border-radius: 10px;
}

dialog h2 {
  padding-bottom: 10px;
}
.modal-input,
.modal-details {
  position: fixed;
  text-align: justify;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 10;
  padding: 2rem;
  border: none;
  min-width: 500px;
  max-width: 500px;
}

.modal-details div {
  display: flex;
}

.modal-details div > p:nth-child(1) {
  width: 25%;
}
.button-priority-low {
  background-color: #e9e9e9;
  border: 2px solid #cfcfcf;
}
.button-priority-low:hover {
  background-color: #e9e9e9;
}
.button-priority-medium {
  background-color: #f2d73b;
  border: 2px solid #d3bb33;
}
.button-priority-medium:hover {
  background-color: #f2d73b;
}
.button-priority-high {
  background-color: #d90000;
  border: 2px solid #c00303;
}
.button-priority-high:hover {
  background-color: #d90000;
}
.button-priority-null {
  background-color: transparent;
  transition: background-color 200ms;
}

.modal-input p {
  font-size: 1.3rem;
}

.modal-input input:focus {
  outline: none;
  border: 2px solid #909090;
}

.modal-input input {
  font-size: 1.1rem;
  padding-left: 1%;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  height: 30px;
  background-color: #f1f1f1;
}

.modal-input input::placeholder {
  color: #b3b3b3;
}

.modal-input input:focus-visible {
  background-color: #f6f6f6;
}

.modal-input input[type='text'] {
  width: 100%;
  font-size: 1.3rem;
  height: 40px;
}

.button-priority button {
  width: 24px;
  height: 24px;
  border-radius: 50px;
}

.modal-input p {
  width: 25%;
}

.modal-input > div {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.modal-input > div:nth-child(1) {
  flex-direction: column;
}

.modal-input > div:nth-child(3) div {
  display: flex;
  gap: 1rem;
}

.button-container {
  justify-content: flex-end;
  gap: 1rem;
}

.button-container > * {
  border: solid 2px #dedede;
  padding: 3px;
  border-radius: 7px;
  width: 80px;
  height: 33;
  transition: background-color 200ms;
}

.button-container > *:hover {
  background-color: #dedede;
  transition: background-color 200ms;
}

.button-container > button:nth-child(2):hover {
  background-color: #8a45c3;
  border: solid 2px #8a45c3;
  color: #dedede;
  transition: background-color 200ms;
}
